<div class="footer-section">
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="hidden-xs navbar-text text-center">© 2017 - Project built by Yenhsuan Chen (Terry)
      </p>
      
      <p class="visible-xs navbar-text text-center">© 2017 - Project built by Yenhsuan Chen (Terry)
        <a href="https://www.linkedin.com/in/yenhsuan-terry-chen-477a99134">
        <span class="fa fa-linkedin-square"></span></a>
      </p>


      <a href="https://www.linkedin.com/in/yenhsuan-terry-chen-477a99134" class="hidden-xs navbar-btn btn-primary btn-sm pull-right">
      <span class="fa fa-linkedin-square"></span>  My LinkedIn</a>
    </div>
</div>
</div>
