
<div class='container'>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		<app-new-problem></app-new-problem>
		
		<div class="alert alert-success alert-dismissable fade in">
   		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	<strong>Demo Account: </strong><i class="fa fa-user-o" aria-hidden="true"></i> <kbd>demo@demo.demo</kbd> | <i class="fa fa-lock" aria-hidden="true"></i> <kbd>demo</kbd> 
  		</div>
		
		<div class='list-group'>
			<li class="list-group-item active">Problem list</li>
			<li class="list-group-item" *ngIf="(problems | filterPipe:search).length === 0"><i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i> No problems found</li>

			


			<a class='list-group-item' *ngFor="let problem of problems | filterPipe:search" [routerLink]="['/problems',problem.id]">

				<div class="row">
				<div class="col-sm-1">

				<span [ngClass]="{'label-primary':problem.difficulty=='super','label-warning':problem.difficulty=='medium','label-danger':problem.difficulty=='hard','label-success':problem.difficulty=='easy','label':true}">{{problem.difficulty}}</span>

				</div>

				<div class="col-sm-11">
				<strong class="title">{{problem.id}}. {{problem.name}}</strong>
				<span *ngIf="!auth.authenticated()" class="badge badge-warning pull-right"><i class="fa fa-lock" aria-hidden="true"></i></span>
				</div>

				
				</div>

			</a>
		</div>
		</div>
	</div>
</div>

